rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn(){return request.auth != null;}
    function userDoc(){return get(/databases/$(database)/documents/users/$(request.auth.uid));}
    function isAdmin(){return signedIn() && userDoc().data.role == "admin";}
    match /users/{uid} {
      allow read: if signedIn() && (request.auth.uid == uid || isAdmin());
      allow write: if isAdmin();
    }
    match /students/{id}{allow read,write: if isAdmin();}
    match /teachers/{id}{allow read,write: if isAdmin();}
    match /attendance/{id}{allow read,write: if isAdmin();}
    match /studyRecords/{id}{allow read,write: if isAdmin();}
    match /leaveRequests/{id}{allow read,write: if isAdmin();}
    match /results/{id}{allow read,write: if isAdmin();}
    match /notices/{id}{allow read: if signedIn(); allow write: if isAdmin();}
  }
}